*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/bg.svg);
    background-size: cover;
}

.container{
   min-width: 90%;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   text-align: center;
   box-shadow:  1rem 1rem #001220;
   background-image: url(assets/cbg.svg);
   background-size: cover;
   border-radius: 10px;
    padding: 4rem 2rem;
}


h3{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: cursive;
    color: slateblue;
}

h4{
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    font-family: cursive;
    color: lawngreen;
}

.inputs{
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    margin: 3rem auto 1.5rem auto;
}

input[type="number"] {
    width: 100%;
    border-radius: 7px;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 3px solid #fff;
    outline: none;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type="number"]:focus {
    border-color: #001220;
}

button{
    background-color: #001220;
    color: #430606;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 1s ease;
}

button:hover{
    background-color: #430606;
    color: #001220;
    box-shadow: 1px 1px 5px 2px black;
}

#restart{
    margin: 0 auto 0 auto;
    padding: .5rem 1rem;
    margin-bottom: 20px;
    display: none;
}

p{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: indianred;
    word-break: break-all;
}

.error,
.success{
    padding: .5rem 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    animation: pop 0.4s forwards;
    transform: scale(0);
}

.error{
    background-color: #ffcbcb;
    color: red;
}

.success{
    background-color: #90ee90;
    color: #008000;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}